.wizard {
  background-color: white;
  padding: 0.2em 0em 0.2em 0.2em;
}

.wizard a {
  padding: 20px 40px 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-left: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  background: #8bbfe6;
  text-transform: uppercase;
  cursor: pointer;
}

.wizard a:hover {
  text-decoration: none;
}

.wizard a:first-child {
  margin-left: 0;
}

.wizard:not(.left-arrow) a:before {
  width: 0;
  height: 0;
  border-top: 30px inset transparent;
  border-bottom: 30px inset transparent;
  border-left: 30px solid #ffffff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

.wizard:not(.left-arrow) a:after {
  width: 0;
  height: 0;
  border-top: 30px inset transparent;
  border-bottom: 30px inset transparent;
  border-left: 30px solid #8bbfe6;
  position: absolute;
  content: "";
  top: 0;
  right: -30px;
  z-index: 2;
}

.wizard.left-arrow a:before {
  width: 0;
  height: 0;
  border-top: 30px inset transparent;
  border-bottom: 30px inset transparent;
  border-right: 30px solid #8bbfe6;
  position: absolute;
  content: "";
  top: 0;
  left: -30px;
  z-index: 2;
}

.wizard.left-arrow a:after {
  width: 0;
  height: 0;
  border-top: 30px inset transparent;
  border-bottom: 30px inset transparent;
  border-right: 30px solid #ffffff;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  z-index: 2;
}

.wizard a:first-child:before,
.wizard a:last-child:after {
  border: none;
}

.wizard a:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.wizard a:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.wizard.left-arrow a:last-child:before,
.wizard.small.left-arrow a:last-child:before {
  border-right-color: #3e95d6;
}

.wizard .badge {
  margin: 0 5px 0 18px;
  position: relative;
  top: -1px;
}

.wizard a:first-child .badge {
  margin-left: 0;
}

a.current {
  background: #3e95d6;
  color: #fff;
}

.wizard a.current:after,
.wizard a.progress-current:after {
  border-left-color: #3e95d6 !important;
}

.wizard.left-arrow a.current:before,
.wizard.left-arrow a.progress-current:before,
.wizard.small.left-arrow a.current:before,
.wizard.small.left-arrow a.progress-current:before {
  border-right-color: #3e95d6;
}

.wizard a.current .badge,
.wizard a.progress-current .badge {
  background-color: #ffffff;
  color: #3e95d6;
}

.wizard.small {
  margin-bottom: 15px;
}

.wizard.small a {
  padding: 5px 12px 5px;
}

.wizard.small:not(.left-arrow) a:before {
  border-top: 15px inset transparent;
  border-bottom: 15px inset transparent;
  border-left: 15px solid #ffffff;
}

.wizard.small:not(.left-arrow) a:after {
  border-top: 15px inset transparent;
  border-bottom: 15px inset transparent;
  border-left: 15px solid #8bbfe6;
  right: -15px;
}

.wizard.small.left-arrow a:before {
  border-top: 15px inset transparent;
  border-bottom: 15px inset transparent;
  border-right: 15px solid #8bbfe6;
  left: -15px;
  z-index: 2;
}

.wizard.small.left-arrow a:after {
  width: 0;
  height: 0;
  border-top: 15px inset transparent;
  border-bottom: 15px inset transparent;
  border-right: 15px solid #ffffff;
}

.wizard.small a:first-child:before,
.wizard.small a:last-child:after {
  border: none;
}
